<router-outlet></router-outlet>
<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>

<div class="grid mb-8">
  <div *ngFor="let hero of heroes" class="col-12 sm:col-4 md:col-3 xl:col-2">
    <heroes-hero-card [hero]="hero"></heroes-hero-card>
  </div>

</div>

<!-- <table border="2">
  <thead>
    <th>id</th>
    <th>Super Hero</th>
    <th>publisher</th>
    <th>alter_ego</th>
    <th>first_appearance</th>
    <th>characters</th>
  </thead>
  <tbody *ngFor="let hero of heroes">
    <td>{{hero.id}}</td>
    <td>{{hero.superhero}}</td>
    <td>{{hero.publisher}}</td>
    <td>{{hero.alter_ego}}</td>
    <td>{{hero.first_appearance}}</td>
    <td>{{hero.characters}}</td>
  </tbody>
</table> -->
